/* 
    https://colorhunt.co/palette/0000001500503f0071610094 
    https://colorhunt.co/palette/22577e5584ac95d1ccfaffaf
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,700;1,100;1,700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif !important;
  box-sizing: border-box;
  color: #DFF6FF;
}

body, html {
    color: #DFF6FF;
    background-color: #171A2E;
}