/* 
    https://colorhunt.co/palette/0000001500503f0071610094 
    https://colorhunt.co/palette/22577e5584ac95d1ccfaffaf
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,700;1,100;1,700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif !important;
  box-sizing: border-box;
  color: #DFF6FF;
  margin: 0px;
  padding: 0px;
}

body,
html {
  color: #DFF6FF;
  background-color: #171A2E;
}

/* MOBILE */
@media only screen and (max-width: 575px) {

  .hidden {
    display: none;
  }

  #sales {
    padding: 40px 10px;
  }

  .dev-meta-container {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
  }

}

/* WEB */
@media only screen and (min-width: 992px) {

  #sales {
    padding: 40px 10px;
  }

  .dev-meta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

}

/* TABLET */
@media only screen and (min-width: 576px) and (max-width: 991px) {

  #sales {
    padding: 40px 10px;
  }

  .dev-meta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .hidden-tablet {
    display: none;
  }
}